# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# output files
src/backend_outputs/visualization_output/my_accuracy_plot.png
src/backend_outputs/visualization_output/my_loss_plot.png
src/backend_outputs/visualization_output/my_confusion_matrix.png
src/backend_outputs/visualization_output/my_AUC_ROC_Curve.png
# do not ignore my_deep_learning_model.onnx or model.pt
