# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the contributors all will be requested for
# review when someone opens a pull request.

-       @karkir0003 @farisdurrani @LucasZhang58

# 
# Backend
# 

# For files in the /backend directory, @karkir0003 will be requested in a pull request
/backend @karkir0003
/backend/email_notifier.py @avayedawadi
/backend/driver.py @farisdurrani @andrewpeng02 @avayedawadi
/backend/pretrained.py @vidushiMaheshwari


# For unit tests, @LucasZhang58 and @karkir0003 will be requested in such a pull request
/tests/test_data_processing.py @LucasZhang58 @karkir0003
/tests/test_zip_loader.py @vidushiMaheshwari
/tests/test_pretrained_train.py @andrewpeng02
/tests/expected/unzipped/double_zipped @vidushiMaheshwari

#
# Frontend
#

# For files in the /frontend directory, @farisdurrani will be requested in such a pull rewuest
/frontend @farisdurrani

# For the About page and Navbar, contact @anikethswain
/frontend/playground-frontend/components/About @anikethswain
/frontend/playground-frontend/components/NavBar @anikethswain
