:root {
  --primary: #003058;
  --secondary: #b3a36a;
  --layer: #cd7bff;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: Arial, sans-serif, Helvetica;
}
.sections {
  margin: auto;
  background-color: #f6f6ff;
  width: 50%;
  padding: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
img {
  display: block;
  height: auto;
}
#header-section {
  box-sizing: content-box;
  position: static;
  padding: 30px;
  background-color: var(--secondary);
  text-align: center;
  color: white;
}
#nav-bar .nav #title-name > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  border-width: 0.5px;
  border-color: var(--layer);
  border-radius: 10px;
  padding: 5px;
}

/* About styles */
.sections {
  margin-bottom: 1rem;
  margin-top: 1rem;
  
}
.tech-row-content {
  width: auto;
  min-height: 3em;
  padding: 0.5em;
  margin: 1em;
  display: inline-block;
}
img.tech-img-content{
  float: left;
  max-width: 10%;
  max-height: 100%;
}
textarea{
  border-width: 0.5px;
  border-color: var(--layer);
  border-radius: 10px;
  padding: 5px;
}