/* Wiki and About CSS */

body {
  margin: 0;
  padding: 0;
  /* background-color: #f6f6ff; */
  color: black;

  /* Secondary color is #7DA2A9 */
  font-family: Arial, Helvetica, sans-serif;
}
.sections {
  margin: auto;
  background-color: #f6f6ff;
  width: 50%;
  padding: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
#header-section {
  box-sizing: content-box;
  position: static;
  padding: 30px;
  background-color: #b3a369;
  text-align: center;
  color: white;
}
